
<h1>Welcome to tutorial of One Month Rails!</h1>
<p>
	This is the home page for the 
	<%= link_to "One Month Rails app", "http://onemonthrails.com" %>
</p>
<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>
